!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Durex
    / Bootstrap
    %link{:href => "styles.css", :rel => "stylesheet"}
    %link{:href => "assets/fonts/font.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body#ayo_terlibat
    .container-fluid
      .top-section
        .container
          .header
            .row
              .col-xs-4
                %a{href: "#"}
                  %img{src: "assets/images/logo.png"}
              .col-xs-8
                .float-right
                  %ul.social-media.hidden-xs
                    %li
                      %a{href: "#"}
                        .sprites.fb-small
                    %li
                      %a{href: "#"}
                        .sprites.twitter-small
                    %li
                      %a{href: "#"}
                        .sprites.instagram-small
                    %li
                      %a{href: "#"}
                        .sprites.youtube-small
            .row
              %nav.navbar.navbar-default{:role => "navigation"}
                .container-fluid
                  / Brand and toggle get grouped for better mobile display
                  .navbar-header
                    %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                      %span.sr-only Toggle navigation
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  / Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    %ul.nav.navbar-nav
                      %li.active
                        %a{:href => "#"} Home
                      %li
                        %a{:href => "#"} Menurut Kamu?
                      %li
                        %a{:href => "#"} Pengetahuan
                      %li
                        %a{:href => "#"} Visi
                    %ul.nav.navbar-nav.navbar-right
                      %li
                        %a{:href => "#", class: "border-search"}
                          .sprites.search
                  / /.navbar-collapse
                / /.container-fluid
            .row
              .col-xs-12
                .tagline
                  %h1 Ayo terlibat
                  .line.pink
            .row
              .col-sm-8
                .row.someone-like-me
                  .col-md-12
                    %h4 It's easy to get involved with Someone Like Me and there's loads of ways to do it. Check out the options below!
      .middle-section
        .container
          .row
            .col-sm-8.bg-purple.eqheight
              .container-block.text-center
                %h3.white-text Share
                .line.pink
                %p Getting involved with Someone Like Me is as simple as sending a tweet or sharing a Facebook update
                %ul.share
                  %li 
                    %a{href: ""}
                      .sprites.fb-share
                  %li 
                    %a{href: ""}
                      .sprites.twitter-share
                  %li 
                    %a{href: ""}
                      .sprites.google-share
            .col-sm-4.left.topper.eqheight
              %a{href: "#"}
                %div.text-center{style: "background: url(assets/images/bg-ayo.jpg); background-size: 100% 100%; height: 333px;"}
                .tosca.container-block.text-center
                  %p.bigger Be part of something awesome
          .row
            .col-sm-4.blok.twitter.eqheight-social
              .container-block
                .row
                  .col-xs-8
                    %p 
                      Be part of the 
                      conversation 
                      on Twitter
                    %p.follow
                      Follow 
                      %br
                      @someonelikeme
                  .col-xs-4
                    .sprites.big-twitter
            .col-sm-4.blok.facebook.eqheight-social
              .container-block
                .row
                  .col-xs-8
                    %p Meet the community on Facebook
                    %p.follow{style: "margin-top: 81px;"}
                      Like Our Page 
                      %br
                      SomeoneLikeMe
                  .col-xs-4
                    .sprites.big-facebook
            .col-sm-4.blok.youtube.eqheight-social
              .container-block
                .row
                  .col-xs-8
                    %p Watch videos from around the world from the community
                    %p.follow
                      Subscribe Our Channel
                      %br
                      SomeoneLikeMe
                  .col-xs-4
                    .sprites.big-youtube
      .footer-section
        .container
          .row
            .col-sm-4
              .sprites.logo-campaign.title
              %p Someone Like Me is a global social movement created by Durex and the MTV Staying Alive Foundation, providing a stage for young people to talk about sex more openly
            .col-sm-4
              .title Partners
              .sprites.partners
            .col-sm-4
              .title Follow
              %ul.social-media
                %li
                  %a{href: "#"}
                    .sprites.fb-small
                %li
                  %a{href: "#"}
                    .sprites.twitter-small
                %li
                  %a{href: "#"}
                    .sprites.instagram-small
                %li
                  %a{href: "#"}
                    .sprites.youtube-small
      .bottom-section
        .container
          .col-sm-6.left.col-xs-12
            %ul
              %li
                %a{href: "#"} Terms and Conditions 
              %li
                %a{href: "#"} Privacy Policy 
              %li
                %a{href: "#"} Cookies
          .col-sm-4.col-sm-offset-2.hidden-xs
            .copyright Copyright 2014 All Rights Reserved
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "assets/javascripts/bootstrap.js"}
    %script{:src => "assets/javascripts/durex.js"}

:javascript

  $( document ).ready(function() {
    if ($(window).width() >= 768) {

      var heights = $(".eqheight").map(function() {
        return $(this).height();
      }).get();

      var maxHeight = Math.max.apply(null, heights) -90;
      $(".eqheight").height(maxHeight);

      var heights_social = $(".eqheight-social").map(function() {
        return $(this).height();
      }).get();

      var maxHeight_social = Math.max.apply(null, heights_social);
      $(".eqheight-social").height(maxHeight_social);

    }
  });