!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Durex
    / Bootstrap
    %link{:href => "styles.css", :rel => "stylesheet"}
    %link{:href => "assets/fonts/font.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body#visi
    .container-fluid
      .top-section.visi
        .container
          .header
            .row
              .col-xs-4
                %a{href: "#"}
                  %img{src: "assets/images/logo.png"}
              .col-xs-8
                .float-right
                  %ul.social-media.hidden-xs
                    %li
                      %a{href: "#"}
                        .sprites.fb-small
                    %li
                      %a{href: "#"}
                        .sprites.twitter-small
                    %li
                      %a{href: "#"}
                        .sprites.instagram-small
                    %li
                      %a{href: "#"}
                        .sprites.youtube-small
            .row
              %nav.navbar.navbar-default{:role => "navigation"}
                .container-fluid
                  / Brand and toggle get grouped for better mobile display
                  .navbar-header
                    %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                      %span.sr-only Toggle navigation
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  / Collect the nav links, forms, and other content for toggling
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    %ul.nav.navbar-nav
                      %li
                        %a{:href => "#"} Home
                      %li
                        %a{:href => "#"} Menurut Kamu?
                      %li
                        %a{:href => "#"} Pengetahuan
                      %li.active
                        %a{:href => "#"} Visi
                    %ul.nav.navbar-nav.navbar-right
                      %li
                        %a{:href => "#", class: "border-search"}
                          .sprites.search
                  / /.navbar-collapse
                / /.container-fluid
            .row
              .col-xs-12
                .tagline
                  %h1 Visi
                  .line.pink
            .row
              .col-md-7
                .row.someone-like-me
                  .col-md-12
                    %h4 Conversation has the power to inspire happier, healthier sex lives. Join a generation of people not just talking about sex, but standing up for your right to do so. Let's get talking.
      .middle-section
        .container
          .row
            .col-sm-8
              %iframe.youtube-height{:allowfullscreen => "", :frameborder => "0", :src => "http://www.youtube.com/embed/2y8APzvLFH4", :width => "100%"}
            .col-sm-4
              .bg-purple.container-block.text-center.spread-height
                %h3.white-text Spread the word
                .line.pink
                %ul.share
                  %li
                    %a{href: "#"}
                      .sprites.fb-share
                  %li
                    %a{href: "#"}
                      .sprites.twitter-share
                  %li
                    %a{href: "#"}
                      .sprites.google-share
          .row.content
            .col-sm-4
              .white.container-block.first-height
                %h3 Sex education, without the boring bits
                .line.green
                %p Everything you see here has been produced by someone like you. Together, we are setting a new global agenda, showing the world that it's easy to join a conversation, and that it's significant to start one. We are undermining the dangerous myths and taboos around sex and proving that learning about sex shouldn't stop when you leave school.
            .col-sm-4
              .blue-sky.container-block.second-height
                %h3 Honest, inspiring, truthful, and fun
                .line.green
                %p Wherever you are, there are conversations that can help you improve your sex life in every sense. From understanding the implications of not wearing a condom to finding new ways of having fun in the bedroom, talking about sex can change lives for the better. We will be happy when nobody is blushing, nobody is holding their tongue, nobody is scared to ask a question and nobody feels embarrassed to talk about sex. Wanting great sex is natural; it's not something to hide. So let's get talking and have some fun doing it.
            .col-sm-4
              .white.container-block.third-height
                %h3 Cause a scene. Inspire action
                .line.green
                %p Action begins with words, and conversation has the power to break down boundaries and build up understanding. By challenging myths and stigma surrounding sex we can inspire action and change across the globe. That's why we're recruiting a global community of young people looking to share and learn. We aren't simply promoting the discussion of sex; we're unlocking the potential of those conversations to change, enhance and even save lives.
      .footer-section
        .container
          .row
            .col-sm-4
              .sprites.logo-campaign.title
              %p Someone Like Me is a global social movement created by Durex and the MTV Staying Alive Foundation, providing a stage for young people to talk about sex more openly
            .col-sm-4
              .title Partners
              .sprites.partners
            .col-sm-4
              .title Follow
              %ul.social-media
                %li
                  %a{href: "#"}
                    .sprites.fb-small
                %li
                  %a{href: "#"}
                    .sprites.twitter-small
                %li
                  %a{href: "#"}
                    .sprites.instagram-small
                %li
                  %a{href: "#"}
                    .sprites.youtube-small
      .bottom-section
        .container
          .col-sm-6.left.col-xs-12
            %ul
              %li
                %a{href: "#"} Terms and Conditions 
              %li
                %a{href: "#"} Privacy Policy 
              %li
                %a{href: "#"} Cookies
          .col-sm-4.col-sm-offset-2.hidden-xs
            .copyright Copyright 2014 All Rights Reserved
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "assets/javascripts/bootstrap.js"}
    %script{:src => "assets/javascripts/durex.js"}